In [99]:
import pandas as pd
import re
import nltk
import string
from nltk.tokenize import word_tokenize

In [100]:
stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

data = pd.read_csv('tweets.csv', sep ='\t',header=None)
data.columns = ['tweets']
data.head()

                                              tweets
0                              tweets,Sentiment_type
1  The Rivers State GOC, commander of the 6th Div...
2  #EndSars: FG Created Over N25B To Supplement T...
3  I repeat again this @MBuhari regime has shown ...
4  Bandits actions are being justified as mere ac...

In [101]:
data['tweets'] = data['tweets'].fillna('').apply(str)
data.head()

                                              tweets
0                              tweets,Sentiment_type
1  The Rivers State GOC, commander of the 6th Div...
2  #EndSars: FG Created Over N25B To Supplement T...
3  I repeat again this @MBuhari regime has shown ...
4  Bandits actions are being justified as mere ac...

In [103]:
def preprocess_text(text):
    #lower case
    text = text.lower()
    
    #replace links with " "
    text = re.sub(r"http\S+", " ", text)

    #replace mentions with " "
    text = re.sub(r"@\S+", " ", text)

    #replace hashtags with " "
    text = re.sub(r"#\S+", " ", text)

    #replacing .com with " "
    text = re.sub(r".com\S+", " ", text)

    #dealing with contractions
    text = re.sub(r"won't\S+", " would not", text)

    #removing space from word
    text = [word.strip() for word in text.split()]

    #removing words less than 2 characters
    text = [word for word in text if len(word)>2]

    #removing twitter amp
    text = [word for word in text if word != 'amp']
    
    #tokens = re.split('\W+', text)
    #tokens = word_tokenize(text)
    #text = " ".join([ps.stem(word) for word in tokens if word not in stopwords])


    text = ' '.join(text)
    return text

data['tweets_clean'] = data['tweets'].apply(lambda x:preprocess_text(x))
data.head()

,tweets,tweets_clean
0,"tweets,Sentiment_type","tweets,sentiment_type"
1,"The Rivers State GOC, commander of the 6th Div...","the rivers state goc, the 6th division who the..."
2,#EndSars: FG Created Over N25B To Supplement T...,created over n25b supplement the plan for yout...
3,I repeat again this @MBuhari regime has shown ...,repeat again this regime has shown government ...
4,Bandits actions are being justified as mere ac...,bandits actions are being justified mere actio...

 ## CountVectorizer

In [106]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(2,2))

corpus = ["Thisis a sentence is",
         "This is another sentence",
         "third document is here"]

#X = cv.fit(corpus)
#print(X.vocabulary_)
#print(cv.get_feature_names())

#X = cv.trasnform(corpus)
X = cv.fit_transform(corpus)
print(X.shape)
print(X.toarray())

df = pd.DataFrame(X.toarray(), columns = cv.get_feature_names())
print(df)

(3, 8)
[[0 0 0 0 1 0 0 1]
 [1 0 1 0 0 0 1 0]
 [0 1 0 1 0 1 0 0]]
   another sentence  document is  is another  is here  sentence is  \
0                 0            0           0        0            1
1                 1            0           1        0            0
2                 0            1           0        1            0

   third document  this is  thisis sentence
0               0        0                1
1               0        1                0
2               1        0                0

## CountVectorizer on our dataset collection

In [107]:
cv1 = CountVectorizer(ngram_range=(2,2))

X = cv1.fit_transform(data['tweets_clean'])
print(X.shape)

(15770, 121286)

In [ ]:
print(cv1.get_feature_names())

In [112]:
data_sample = data[0:25]
cv2 = CountVectorizer(ngram_range=(2,4))

X = cv2.fit_transform(data_sample['tweets_clean'])
print(X.shape)

(25, 926)

In [113]:
df = pd.DataFrame(X.toarray(), columns = cv2.get_feature_names())
df.head(10)

,2baba open,2baba open spotify,6th division,6th division who,6th division who the,absentia dlvr,absentia dlvr it,absentia dlvr it rtdbcc,absentia mingooland,act who,...,you wonder why,you wonder why osibanjo,your tl,your tl thanks,youth funding,youth funding programme,youth funding programme blendng,youth rep,youth rep rinu,youth rep rinu pulls
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0